<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cst.mapper.CustomerMapper">
	<resultMap type="Customer" id="CustomerMap">
		<id property="customerId" column="customer_id" />
		<result property="firstName" column="first_name" />
	</resultMap>

	<select id="queryByFirstName" parameterType="Customer" resultMap="CustomerMap">
		SELECT * FROM customer WHERE first_name=#{firstName}
	</select>

</mapper>